.assumption_panel__s2lcde0 {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: var(--colors-white__1ngcs9h4s);
  padding: var(--space-4__1ngcs9h5);
  z-index: 2;
  overflow: scroll;
  box-shadow: -10px 0px 30px 0px #013220, 10px 0px 30px 0px #013220;
}