.layout_html__ii81kr0 {
  min-height: 100vh;
}
.layout_body__ii81kr1 {
  min-height: 100vh;
}
.layout_main__ii81kr2 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.layout_header__ii81kr3 {
  flex-shrink: 1;
  background-color: rgba(1, 50, 32, .3);
  text-align: center;
  padding: var(--space-4__1ngcs9h5);
}
.layout_footer__ii81kr4 {
  flex-shrink: 1;
  background-color: rgba(1, 50, 32, .3);
  padding: var(--space-4__1ngcs9h5);
  text-align: center;
}
.layout_content__ii81kr5 {
  flex-grow: 1;
  padding-top: var(--space-4__1ngcs9h5);
  padding-bottom: var(--space-4__1ngcs9h5);
}